{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} "/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} "/>
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/good-form.js') }}"></script>
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <a href="/index/manager" class="nav__a">Заказы</a>
            </li>
            <li class="nav__li">
                <span class="nav__a__active">Блюда</span>
            </li>
            <li class="nav__li">
                <a href="/logout" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="main__form">
        <h1>Создать блюдо</h1>

        {% if goods %}
            <a href="/ingridient/{{ goods.id }}/create">Добавить возможные ингридиенты</a>
            <ul>
                {% for ingridient in goods.ingridient %}
                    <li data-ingr-id="{{ ingridient.id }}">
                        <a href="/ingridient/update/{{ ingridient.id }}">{{ ingridient.title }}</a>
                        <button id="{{ ingridient.id }}" class="button delete">Удалить</button>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

        <form method="POST" action="">
            <div class="form-component">
                <label for="title">Название</label>
                <input type="text" id="title" name="title" value="{% if goods %}{{ goods.title }}{% endif %}"/>
            </div>

            <div class="form-component">
                <label for="image-url">Ссылка изображение</label>
                <input type="url" id="image-url" name="image-url"
                       value="{% if goods %}{{ goods.photo_URL }}{% endif %}"/>
            </div>

            <div class="form-component">
                <label for="description">Описание блюда</label>
                <input type="text" id="description" name="description"
                       value="{% if goods %}{{ goods.description }}{% endif %}"/>
            </div>

            <div class="form-component">
                <label for="price">Цена</label>
                <input type="number" id="price" name="price" value="{% if goods %}{{ goods.price }}{% endif %}"/>
            </div>
            {% if goods %}
                <button class="button" type="submit">Обновить</button>
            {% else %}
                <button class="button" type="submit">Создать</button>
            {% endif %}
        </form>
    </div>
{% endblock %}