{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} "/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} "/>
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <span class="nav__a__active">Заказы</span>
            </li>
            <li class="nav__li">
                <a href="/manager" class="nav__a">Блюда</a>
            </li>
            <li class="nav__li">
                <a href="#" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="orders">
        <h2>Необработанные заказы</h2>
        {% for order in inactive_orders %}
            <div class="order">
                <h3>Заказ №{{ order.id }}</h3>
                {% for user in order.users_orders %}
                    {% if user.users.role == "client" %}
                        <div class="user-phone">
                            <span class="info">Номер клиента:</span>
                            <a href="tel:{{ user.users.phone_number }}">{{ user.users.phone_number }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="order-info">
                    {% for goods in order.goods_orders %}
                        <div class="order-composition">
                            <div class="order-name">
                                <span class="info">Заказ:</span><span> {{ goods.goods.title }}</span>
                            </div>
                            <div class="order-additional">
                                <span class="info">Дополнения:</span>
                                <ul class="additional-list">
                                    {% for ingridient in goods.ingridient_orders %}
                                        <li>{{ ingridient.ingridient.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="order-upworked">
                    <button class="button">Отправить заказ на кухню</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}