{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} "/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} "/>
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <span class="nav__a__active" >Заказы</span>
            </li>
            <li class="nav__li">
                <a href="/manager" class="nav__a">Блюда</a>
            </li>
            <li class="nav__li">
                <a href="#" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
        <div class="orders">
          <h2>Необработанные заказы</h2>

          <div class="order">
            <h3>Заказ №305</h3>

            <div class="user-phone">
              <span class="info">Номер клиента:</span>
              <a href="tel:+78005553535">88005553535</a>
            </div>

            <div class="order-info">
              <div class="order-composition">
                <div class="order-name">
                  <span class="info">Заказ:</span><span> Филадельфия</span>
                </div>

                <div class="order-additional">
                  <span class="info">Дополнения:</span>
                  <ul class="additional-list">
                    <li>Хуй</li>
                    <li>Большой</li>
                    <li>И</li>
                    <li>Черный</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="order-upworked">
              <button class="button">Отправить заказ на кухню</button>
            </div>
          </div>
        </div>
{% endblock %}