{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} "/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} "/>
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <a href="/manager/goods" class="nav__a">Заказы</a>
            </li>
            <li class="nav__li">
                <span class="nav__a__active">Блюда</span>
            </li>
            <li class="nav__li">
                <a href="/logout" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block script %}
    {% if not ingridient %}
        <script src="{{ url_for('static', filename='js/ingridients-create.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="main__form">
        <h1>Добавить ингридиенты</h1>
        {% if not ingridient %}
            <button id="make-field" class="button">Добавить поле ввода</button>
        {% endif %}
        <div class="forms">
            <form method="POST">
                <div class="form-component">
                    <label for="title">Название ингридиента</label>
                    <input id="title" name="title" value="{% if ingridient %}{{ ingridient.title }}{% endif %}"
                           placeholder="Лосось">
                </div>

                {% if ingridient %}
                <button id="send1" class="button">Сохранить</button>
                {% endif %}
            </form>
        </div>
        {% if not ingridient %}
            <button id="send" class="button">Создать</button>
        {% endif %}
    </div>
{% endblock %}