{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_nav, admin_logo %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager.css') }}">
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    {{ admin_nav() }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/admin-index.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="users-list">
        <div class="goods">
            <div class="goods-head">
                <h2>Менеджеры</h2>
                <a href="/admin/user/create/manager" class="button">Создать</a>
            </div>
            {% for manager in managers %}
                <div class="row good">
                    <div class="col">
                        <h4>
                            {{ manager.lastname }}
                            {{ manager.firstname }}
                            {{ manager.surname }}
                        </h4>
                    </div>
                    <div class="col">
                        <a class="button" href="/admin/user/update/{{ manager.id }}">Отредактировать</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="goods">
            <div class="goods-head">
                <h2>Курьеры</h2>
                <a href="/admin/user/create/courier" class="button">Создать</a>
            </div>
            {% for courier in couriers %}
                <div class="row good">
                    <div class="col">
                        <h4>
                            {{ courier.lastname }}
                            {{ courier.firstname }}
                            {{ courier.surname }}
                        </h4>
                    </div>
                    <div class="col">
                        <a class="button" href="/admin/user/update/{{ courier.id }}">Отредактировать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="goods">
            <div class="goods-head">
                <h2>Кухни</h2>
                <a href="/admin/user/create/kitchen" class="button">Создать</a>
            </div>
            {% for kitchen in kitchens %}
                <div class="row good">
                    <div class="col"><h4>{{ kitchen.login }}</h4></div>
                    <div class="col">
                        <a class="button" href="/admin/user/update/{{ kitchen.id }}">Отредактировать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}