{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_nav, admin_logo %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/manager.css') }}">
{% endblock %}

{% block logo %}
	{{ admin_logo }}
{% endblock %}

{% block nav %}
	{{ admin_nav() }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', 'js/admin-index.js') }}" ></script>
{% endblock %}

{% block content %}
       <div class="users-list">
          <div class="goods">
            <div class="goods-head">
              <h2>Менеджеры</h2>
              <button class="button">Создать</button>
            </div>
            <div class="row good">
              <div class="col"><h4>Алексеев Алексей Алексеевич</h4></div>
              <div class="col">
                <a class="button" href="">Отредактировать</a>
              </div>
              <div class="col">
                <button class="button" href="">Удалить</button>
              </div>
            </div>
          </div>

          <div class="goods">
            <div class="goods-head">
              <h2>Курьеры</h2>
              <button class="button">Создать</button>
            </div>
            <div class="row good">
              <div class="col"><h4>Петров Петр Петрович</h4></div>
              <div class="col">
                <a class="button" href="">Отредактировать</a>
              </div>
              <div class="col">
                <button class="button" href="">Удалить</button>
              </div>
            </div>
          </div>
          <div class="goods">
            <div class="goods-head">
              <h2>Пользователи</h2>
              <button class="button">Создать</button>
            </div>
            <div class="row good">
              <div class="col"><h4>Иванов Иван Иванович</h4></div>
              <div class="col">
                <a class="button" href="">Отредактировать</a>
              </div>
              <div class="col">
                <button class="button" href="">Удалить</button>
              </div>
            </div>
          </div>
        </div>
{% endblock %}