{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo, admin_nav %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    {{ admin_nav() }}
{% endblock %}

{% block content %}
    <div class="main__form">
        {% if old_user %}
            <h1>Обновить аккаунт персонала</h1>
            <form action="/admin/user/update/{{ old_user.id }}" method="post">
        {% else %}
            <h1>Регистрация</h1>
            <form action="/admin/user/create/{{ role }}" method="post">
        {% endif %}
            <div class="form-component">
                <label for="lastname">Фамилия</label>
                <input
                        type="text"
                        name="lastname"
                        placeholder="Иванов"
                        id="lastname"
                        value="{% if old_user %}{{ old_user.lastname }}{% endif %}"
                />
            </div>
            <div class="form-component">
                <label for="firstname">Имя</label>
                <input
                        type="text"
                        name="firstname"
                        placeholder="Иван"
                        id="firstname"
                        value="{% if old_user %}{{ old_user.firstname }}{% endif %}"
                />
            </div>
            <div class="form-component">
                <label for="surname">Отчество</label>
                <input
                        type="text"
                        name="surname"
                        placeholder="Иванович"
                        id="surname"
                        value="{% if old_user %}{{ old_user.surname }}{% endif %}"
                />
            </div>
            <div class="form-component">
                <label for="phone">Номер телефона</label>
                <input
                        type="tel"
                        name="phone"
                        placeholder="+78005553535"
                        id="phone"
                        value="{% if old_user %}{{ old_user.phone_number }}{% endif %}"
                />
            </div>
            <div class="form-component">
                <label for="login">Логин</label>
                <input
                        type="text"
                        name="login"
                        placeholder="Login"
                        id="login"
                        value="{% if old_user %}{{ old_user.login }}{% endif %}"
                />
            </div>
            <div class="form-component">
                <label for="password">Пароль</label>
                <input
                        type="{% if old_user %}text{% else %}password{% endif %}"
                        name="password"
                        placeholder="....."
                        id="password"
                        value="{% if old_user %}{{ old_user.password }}{% endif %}"
                />
            </div>
            {% if not old_user %}
                <div class="form-component">
                    <label for="password-confirm">Подтвердите</label>
                    <input
                            type="password"
                            name="password-confirm"
                            placeholder="....."
                            id="password-confirm"
                    />
                </div>

                <div class="form-buttons">
                    <button class="button" type="submit">Создать работника</button>
                </div>
            {% else %}
                <div class="form-buttons">
                    <button class="button" type="submit">Сохранить</button>
                </div>
            {% endif %}

        </form>
    </div>
{% endblock %}