{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo, admin_nav %}

{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/courier.css') }} "/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} "/>
{% endblock %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    {{ admin_nav() }}
{% endblock %}

{% block content %}
    <div class="orders">
        <div class="active-orders">
            <h2>Доставка в работе</h2>
            {% for order in activer_orders %}
                <div id="order_{{ order.id }}" class="order">
                    <h3>Заказ №{{ order.order.id }}</h3>
                    <div class="user-phone">
                        <span class="info">Номер клиента:</span>
                        <a href="tel:+78005553535">{{ order.users.phone_number }}</a>
                    </div>
                    <div class="order-info">
                        <div class="from-address">
                            <span class="info">Откуда:</span> {{ order.order.delivery_from_address }}
                        </div>
                        <div class="to-address">
                            <span class="info">Куда:</span> {{ order.order.delivery_to_address }}
                        </div>
                    </div>
                    <div class="delivered">
                        <button id="{{ order.id }}" class="button">Доставлено</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div  class="inactive-orders">
            <h2>Ожидет курьера</h2>
            {% for order in orders %}
                <div id="order_{{ order.id }}" class="order">
                    <h3>Заказ № {{ order.order.id }}</h3>
                    <div class="order-info">
                        <div class="user-phone">
                            <span class="info">Номер клиента:</span>
                            <a href="tel:+78005553535">{{ order.user.phone_number }}</a>
                        </div>
                        <div class="from-address">
                            <span class="info">Откуда:</span> {{ order.order.delivery_from_address }}
                        </div>
                        <div class="to-address">
                            <span class="info">Куда:</span> {{ order.order.delivery_to_address }}
                        </div>
                    </div>
                    <div class="in-delivery">
                        <button id="{{ order.id }}" class="button">Взять в работу</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/change-order-status.js') }}"></script>
{% endblock %}