{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo, admin_nav %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', 'css/order-page.css') }}" />
{% endblock %}

{% block logo %}
	{{ admin_logo }}
{% endblock %}

{% block nav %}
    {{ admin_nav() }}
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/kitchen-order.js') }}"></script>
{% endblock %}

{% block content %}
        <a href="/templates/kitchen/index.html">Вернуться</a>
        <div class="order">
          <div class="order-number">
            <h1>Заказ № 304</h1>
          </div>
          <div class="order-composition">
            <h3>Состав:</h3>
            <ul class="composition-list">
              <li class="composition-item">
                <span>Филадельфия</span>
                <span>Дополнения</span>
                <ul>
                  <li>Лосось</li>
                  <li>Сливочный сыр</li>
                  <li>Пиво</li>
                </ul>
              </li>
              <li>
                Филадельфия
                <ul>
                  <li>Лосось</li>
                  <li>Сливочный сыр</li>
                  <li>Пиво</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
{% endblock %}