{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info-page.css') }}"/>
{% endblock %}
{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li"><i class="cart bi bi-cart4"></i></li>
            <li class="nav__li">
                <a href="#" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="good-info">
        <div class="good-info-image">
            <img src="./img/fila.jpg" alt=""/>
        </div>
        <div class="good-info-decription">
            <h2>Филадельфия</h2>
            <div class="price">450</div>
            <div class="description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Excepturi, perspiciatis animi, quia dicta soluta cupiditate
                voluptatem doloremque consequatur quas obcaecati quo cumque sed
                doloribus. Rerum nemo sint perspiciatis non! Id.
            </div>
        </div>
        <div class="ingridients">
            <ul>
                <li>
                    <input type="checkbox" name="losos" id="losos"/>
                    <label for="losos">Больше рыбки </label>
                    <span class="add-price">+ 30</span>
                </li>
                <li>
                    <input type="checkbox" name="losos" id="losos"/>
                    <label for="losos">Больше рыбки </label>
                    <span class="add-price">+ 30</span>
                </li>
                <li>
                    <input type="checkbox" name="losos" id="losos"/>
                    <label for="losos">Больше рыбки </label>
                    <span class="add-price">+ 30</span>
                </li>
            </ul>
        </div>
        <div class="make-order">
            <button>Сделать заказ</button>
        </div>
    </div>
{% endblock %}