{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info-page.css') }}"/>
{% endblock %}
{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <a href="#" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/goods-page.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="good-info">
        <div class="good-info-image">
            <img src="{{ goods.photo_URL }}" alt=""/>
        </div>
        <div class="good-info-decription">
            <h2>{{ goods.title }}</h2>
            <div class="price">{{ goods.price }}</div>
            <div class="description">
               {{ goods.desc }}
            </div>
        </div>
        <div class="ingridients">
            <ul>
                {% for ingridient in goods.ingridient %}
                <li>
                    <input type="checkbox" name="losos" id="{{ ingridient.id }}"/>
                    <label for="losos">{{ ingridient.title }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="make-order">
            <button id="{{ goods.id }}" class="add-to-cart button">Добавить в корзину</button>
        </div>
    </div>
{% endblock %}