{% extends 'base_login.html' %}

{% from 'admin/admin-header.html' import admin_logo %}

{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li cart">
                <i class="bi bi-cart4"></i>
            </li>
            <li class="nav__li">
                <a href="/logout" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/good-cards.css') }}">
{% endblock %}

{% block content %}
    <div class="good-cards">
        {% for good in goods %}
            <div id="{{ good.id }}" class="good-card">
                <div  class="good-card-image">
                    <img id="{{ good.id }}" src="{{ good.photo_URL }}" alt="Филадельфия"/>
                </div>
                <div class="good-card-description">
                    <div class="name">
                        <h1>{{ good.title }}</h1>
                    </div>

                    <div class="price">{{ good.price }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/user-index.js') }}"></script>
{% endblock %}