{% extends 'base_login.html' %}


{% from 'admin/admin-header.html' import admin_logo %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info-page.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}
{% block logo %}
    {{ admin_logo() }}
{% endblock %}

{% block nav %}
    <nav class="header__nav">
        <ul class="nav__ul">
            <li class="nav__li">
                <a href="#" class="logout nav__a">Выйти</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/make-order.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="main__form">
        <h1>Офоримть заказ</h1>
        <div class="order-data">
            <ul>

            </ul>
        </div>
        <div class="price"><span class="info">Цена</span> <span class="total-price"></span></div>
        <form action="" method="post">
            <div class="form-component">
                <label for="login">Введите адрес доставки</label>
                <input type="text" name="address-to" placeholder="ул. Пушкина, д. Колотушкина, кв. 78" id="login"/>
            </div>
            <div class="form-component">
                <label for="comment">Комментарий к заказу</label>
                <textarea type="" name="comment" placeholder="Ваш коментарий..." id="comment" rows="5" cols="33"></textarea>
            </div>
            <div class="form-buttons">
                <button class="button" id="make-order">Оформить</button>
            </div>
        </form>
    </div>
{% endblock %}