{% extends 'base_login.html' %}

{% block styles %}
  {# <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} "/> #}
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/manager.css') }} " />
{% endblock %}

{% from 'admin/admin-header.html' import admin_logo %}

{% from 'status_macro.html' import order_status %}
{% from 'manager/order_macro.html' import order_macro %}

{% block logo %}
  {{ admin_logo() }}
{% endblock %}

{% block nav %}
  <nav class="header__nav">
    <ul class="nav__ul">
      <li class="nav__li">
        <a href="/logout" class="logout nav__a">Выйти</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="active-orders">
    <h2>Активные заказы</h2>
    {% for order in active_orders %}
      {{ order_macro(order, 'user') }}
    {% endfor %}
  </div>
  <div class="inactive-orders">
    <h2>Завершенные заказы</h2>
    {% if completed_orders %}
      {% for order in completed_orders %}
        {{ order_macro(order, 'user') }}
      {% endfor %}
    {% else %}
      <p>Ой, тут еще ничего нет, но ничего страшного. Скоро будет))</p>
    {% endif %}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/manager.js') }}"></script>
{% endblock %}
